html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
header {
	width: 960px;
	height: 99px;
	margin: 0 auto 0 auto;
}
header h1{
	width: 213px;
	height: 39px;
	margin-top: 30px;
	float: left;
  font-size: 24px;
}
header h2{
  text-align: center;
  font-size: 16px;
}
nav ul li a{
	text-decoration: inherit;
}

div#left a{
  color: white;
  text-decoration: none;
}
div#right a{
  color: white;
  text-decoration: none;
}
div#wrapper{
  width: 960px;
  height: auto;
	margin: 0 auto 0 auto;
}
div#wrapper h3{
  text-align: center;
	position: relative;
}
div#left{
  width: 480px;
  height: 300px;
  float: left;
	position: relative;
}
div#left h3{
  position: absolute;
	top: 80%;
	left: 50%;
	margin: 0;
	padding: 0;
	-ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
	font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
}
/* .exm{
	position: relative;

} */
.exm a{
	position: absolute;
	top: auto;
	left:25%;
	/* background-color: pink; */
	background-image: url("../images/girl.jpg");
	background-size: 400px;
	background-repeat: no-repeat;
	width:  240px;       /* ※縦横を同値に */
  height: 240px;       /* ※縦横を同値に */
  border-radius: 70%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: center center;  /* 横長画像の左上を基準に表示 */
}
div#right{
  background-color: #abd6ca;
  width: 480px;
  height: 300px;
  float: left;
	position: relative;
}

div#right h3{
  position: absolute;
	top: 80%;
	left: 50%;
	margin: 0;
	padding: 0;
	-ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
	font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
}
div#bottom{
  background-color: #7bd7f9;
  width: 960px;
  height: 300px;
	position: relative;
}

div#bottom h3{
  position: absolute;
	top: 80%;
	left: 50%;
	margin: 0;
	padding: 0;
	-ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
	font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
}

div#clearfix{
	clear: both;
}

nav{
	float: right;
	margin-top: 56px;
}
nav ul li{
	float: left;
	margin-left: 20px;
}
